<!DOCTYPE html>
<html>
<head>
    <title>Installation Page For Ratsnake</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <div class="container">

        <div class="page-header">
            <h1>Ratsnake Installation Page</h1>
            <p>This Page Consist of Basic Installation of Ratsnake, to Complete Installation Fill Asked Data and Submit.</p>
        </div>
        <form action="" method="POST" class="bs-example bs-example-form">

            {% if message %}
                <ul style="color:red;">
                    <li>{{ message }}</li>
                </ul>
            {% endif %}
            
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Name Of The Website</span>
                <input name="website_name" class="form-control" value="{{website_name}}">
            </div>
            <br>

            <label for="basic-url">Secret Key is For Securing Your Users Account</label><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Secret Key</span>
                <input name="secret_key" class="form-control" value="{% if secret_key %}{{secret_key}}{% else %}{{sample_secret_key}}{% endif %}">
            </div>
            <br>

            <label for="basic-url">Only Postgres is supported right now</label><br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Postgres host</span>
                <input name="pg_host" class="form-control" value="localhost">                
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Postgres user</span>
                <input name="pg_user" class="form-control" >                
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Postgres password</span>
                <input name="pg_pass" class="form-control" >                
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Postgres database name</span>
                <input name="db_name" class="form-control" >                
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">RatSnake username for admin</span>
                <input name="admin_username" class="form-control" >                
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">RatSnake admin password</span>
                <input name="admin_password" class="form-control" >                
            </div>
            <br>
            <button class="btn btn-default" type="submit">Go!</button>
        </form>

    </div>
</body>
</html>